In [ ]:
# pip install fitparse

In [1]:
import fitparse
import pandas as pd

In [2]:
fname = '18538612657_ACTIVITY'

In [3]:
# load the FIT file
fitfile = fitparse.FitFile(f'./data/activities/runs/{fname}.fit')

In [4]:
values = pd.DataFrame()
units = pd.DataFrame()

# each .fit file consists of various records
for record in fitfile.get_messages("record"):
    # each record has several data points, each with a name, a value, and (sometimes) a unit
    clms = [x.name for x in record]
    vlus = [x.value for x in record]
    unts = [x.units for x in record]

    temp_v = pd.DataFrame([vlus], columns = clms)
    temp_u = pd.DataFrame([unts], columns = clms)

    values = pd.concat([values, temp_v], ignore_index = True)
    units = pd.concat([units, temp_u], ignore_index = True)

In [5]:
values.head()

,accumulated_power,activity_type,cadence,distance,enhanced_altitude,enhanced_speed,fractional_cadence,heart_rate,position_lat,position_long,...,vertical_oscillation,vertical_ratio,unknown_107,unknown_134,unknown_135,unknown_136,unknown_140,unknown_143,unknown_87,unknown_90
0,106,running,56,0.00,223.0,1.250,0.5,81,482459717,-954504184,...,57.4,8.57,0,None,44,81,1239,61,0,NaN
1,281,running,56,2.45,223.0,2.547,0.5,81,482459561,-954503279,...,57.4,8.57,1,None,58,81,2525,61,0,NaN
2,476,running,56,4.03,223.0,2.547,0.5,81,482459698,-954503010,...,67.9,4.97,1,None,58,81,2525,61,0,NaN
3,683,running,56,6.01,223.0,3.032,0.5,82,482459863,-954502808,...,67.9,4.97,1,None,63,82,3006,61,0,NaN
4,911,running,56,8.61,222.8,2.846,0.5,83,482460058,-954502607,...,71.8,4.42,1,None,66,83,2821,61,0,NaN

In [6]:
units.drop_duplicates().head()

,accumulated_power,activity_type,cadence,distance,enhanced_altitude,enhanced_speed,fractional_cadence,heart_rate,position_lat,position_long,...,vertical_oscillation,vertical_ratio,unknown_107,unknown_134,unknown_135,unknown_136,unknown_140,unknown_143,unknown_87,unknown_90
0,watts,None,rpm,m,m,m/s,rpm,bpm,semicircles,semicircles,...,mm,percent,None,None,None,None,None,None,None,NaN

In [7]:
# save as csv
values.to_csv(f'./output/activities/runs/{fname}_values.csv', index = False)
units.to_csv(f'./output/activities/runs/{fname}_units.csv', index = False)